<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90569147103-39facun5ig6fqqvhunn15q8sjq4b7h72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90569147103-39facun5ig6fqqvhunn15q8sjq4b7h72</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90569147103-dppme22jmj8pce13irvr2m5leij6uudp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcSUK9UKmoB1dn4wmAcFeIbWrJkfThkiY</string>
	<key>GCM_SENDER_ID</key>
	<string>90569147103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ihsan.amel.aichat</string>
	<key>PROJECT_ID</key>
	<string>aichatv2-47acd</string>
	<key>STORAGE_BUCKET</key>
	<string>aichatv2-47acd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90569147103:ios:ed1060f7ceb47666619f6a</string>
</dict>
</plist>